APP_ENV=

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=

OPENAI_API_KEY=

FERNET_KEY=

JWT_SECRET_KEY=
ALGORITHM=
JWT_EXPIRATION_MINUTES=

RESTRICT_STRIPE_AUTH_KEY=
PUBLIC_STRIPE_AUTH_KEY=
SECRET_STRIPE_AUTH_KEY=
WEBHOOK_STRIPE_SECRECT_KEY=
DEFAULT_PRICE_ID=
PAYMENT_CURRENCY=
CHECKOUT_REDIRECT_URL=

PASSWORD_RESET_TOKEN_EXPIRATION_MINUTES=
PASSWORD_RESET_INCLUDE_TOKEN_IN_RESPONSE=
PASSWORD_RESET_URL=

SMTP_ENABLED=
SMTP_HOST=
SMTP_PORT=
SMTP_USE_TLS=
SMTP_USE_SSL=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=
SMTP_FROM_NAME=